body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Definido cor das linhas pares*/
.table tbody tr:nth-child(even) {
    background: #FFF
}

/*Definindo cor das Linhas impáres*/
.table tbody tr:nth-child(odd) {
    background: #EEE;
}

.table tbody tr:hover {
    background: #C0C0C0;
}
.des-tr {
    background-color: #414042;
}

.des-font, th {
    color: white;
    text-align: center;
}
.des-font, td {
    color: black;
    text-align: center;
}
.paginacao li a {
    color: black;
}

.pagination > .active > a {
    background-color: #414042 !important;
} 
.btn.sombrabtn {
    box-shadow: 0 0 0.6em black;
}
.navbar-brand {
    color: black;
}